// @import "minimal-mistakes/skins/dark"; // Force dark theme

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

table {
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1em;
  
  th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  td, th {
    padding: 8px;
    border: 1px solid #ddd;
  }
}
